<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ChatApp</a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <div class="nav-item dropdown" dropdown>
        <button dropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
              Dropdown
            </button>
        <div class="dropdown-menu" *dropdownMenu aria-labelledby="triggerId">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item disabled" href="#">Disabled action</a>
          <h6 class="dropdown-header">Section header</h6>
          <a class="dropdown-item" href="#">Action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">After divider action</a>
        </div>
      </div>
      
    </ul>
    
  </div>
</nav>
