
<ul class="list-group" *ngFor="let message of messages">
  <li class="list-group-item d-flex justify-content-between align-items-center active mt-1">
    {{ message.text }}
    <span class="badge badge-secondary badge-pill">{{message.date | date:"dd/MM/yy"}} {{ message.date | date:"HH:mm:ss"}}</span>
  </li>
</ul>
<!-- <div *ngFor="let message of messages">
  {{message.date| date: 'M/d/yy'}} {{message.date| date: 'h:mm:ss'}}: {{message.text}}
</div> -->

<!-- <input #chatInput (keyup.enter)="sendMessage()" [(ngModel)]="message" /> -->
<div class="form-group">
  <label for=""></label>
  <textarea class="form-control" (keyup.enter)="sendMessage()" [(ngModel)]="message" name="message" #chatInput rows="3"></textarea>
</div>
<button (click)="sendMessage()" type="button" class="btn btn-sm btn-secondary ml-1">Invia</button>