<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{ title }}</h1>
    <p class="lead">{{ subtitle }}</p>
    <hr class="my-2">
    <p class="lead">
      <a class="btn btn-primary btn-md" href="Jumbo action link" tooltip="Clicca qui per altre info" role="button">Altre info</a>
    </p>
  </div>
</div> -->
<div class="container-fluid">
  <app-chat></app-chat>
</div>
